<%= render partial: 'layouts/nav' %>
<div id="dashboard-main" class="container-fluid">
	<div class="row" style="width: 100%;">
		<div class="page-col" style="width: 15%; background: rgb(16,32,35);">
			<div class="circletag" style="width: 100%">
				<%= image_tag "csw-photo.png", :class => "circletag" %>
				<h3 id="chw-name">Ankotia Tapas</h3>
			</div>

			<br>
			<br>
			<br>
			<hr style="border-color: rgb(33,48,55); max-width: none;"/>
			<br>

			<h3 class="side-nav-main">Main</h3>
			<a href="/coming_soon">
				<%= image_tag "profile.png", :class => 'side-nav-icon' %>
				<h3 class="side-nav-opts">PROFILE</h3>
			</a>
			<br>
			<br>
			<br>
			<a href="/dashboard/schedule">
				<%= image_tag "schedule.png", :class => 'side-nav-icon' %>
				<h3 class="side-nav-opts">SCHEDULE</h3>
			</a>
			<br>
			<br>
			<br>
			<a href="/dashboard/patients">
				<%= image_tag "patients.png", :class => 'side-nav-icon' %>
				<h3 class="side-nav-opts" style="margin-top: 15px">PATIENTS</h3>
			</a>
		</div>

		<div class="page-col" style="width: 85%; background: grey; right: 0;">
			<div class="main-header">
				<h2 class="chw-title">Community Health Worker</h2>
				<h3 class="chw-location">Sylhet, Bangladesh</h3>

				<%= image_tag "active.png", :class => 'active-icon' %>
				<%= image_tag "edit.png", :class => 'edit-icon' %>


				<h3 class="dashboard-sub-nav">S U M M A R Y&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A C T I V I T Y&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N O T I F I C A T I O N S</h3>
				<hr id="underline-hr">
			</div>
			<%= image_tag "schedule-main.png", :class => 'full-image' %>
		</div>
	</div>
</div>
